@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");

body {
  font-family: "Playfair Display", serif;
}
.greeting_img-cupCoffee {
  margin-top: 182px;
  margin-right: 552px;
}
.greeting {
  font-size: 90px;
  margin-left: 250px;
  margin-top: 250px;
}

.header_body {
  display: flex;
  justify-content: baseline;
  align-items: start;
  width: 100%;
  height: 100vh;
}
body {
  background-color: #ffff40;
}
.header_links {
  color: black;
  background-color: #ffff40;
  display: flex;
  flex-flow: row;
  justify-content: end;
}
.header_link-item {
  list-style-type: none;
  margin-right: 20px;
}
.header_link {
  text-decoration: none;
  color: black;
}
.greeting_text {
  margin-left: 255px;
  font-size: 28px;
}
.form_container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: beige;
  max-width: 500px;
  margin: 0 auto;
  width: 40%;
  height: 40%;
}
.popup_container {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.form {
  display: flex;
  flex-direction: column;
}
.form-group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
}

.form_input-name,
textarea {
  width: 80%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.form_input-password {
  width: 80%;
}
.form_btn-submit {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.popup_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  text-align: center;
}

.popup_btn-close {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
